<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SaleStar" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings/>
  <SaleStar>
    <add key="Token" value="567a71df-8d98-45de-b356-f7fb5b24d40a"/>
    <add key="Offer" value="test"/>
    <add key="LeadType" value="Dose Perfeita"/>
    <add key="storeID" value="449"/>
    <add key="SecuredURL" value="http://localhost/Doseperfeita.com/descontoT"/>
    <add key="siteURL" value="http://localhost/Doseperfeita.com/descontoT"/>
    <add key="StartingPage" value="http://localhost/Doseperfeita.com/descontoT/default.aspx"/>
    <add key="DefaultPackageDealID" value="100"/>
    <add key="CultureName" value="pt-BR"/>
    <add key="customValidationMessages" value="true"/>
    <add key="installmentsCount" value="6" />
    <add key="ZipValidationEngine" value="4" />
    <add key="jQueryVersion" value="1.7.2" />
    <add key="jQueryValidationVersion" value="2.6.3" />
    <add key="StandalonePage" value="true" />
  </SaleStar>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <globalization culture="pt" uiCulture="pt-BR"/>
  </system.web>
  <system.webServer>
  
  </system.webServer>
<system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="100" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="900000" maxStringContentLength="900000" maxArrayLength="900000" maxBytesPerRead="900000" maxNameTableCharCount="900000"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="netTcpBinding1">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://api.safe-pay-online.com/wcf/gatewayservice.svc/gatewayservice.svc" behaviorConfiguration="ServiceViewEventBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="wcf.IgatewayService" name="netTcpBinding">
        <identity>
          <dns value="www.api.safe-pay-online.com"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://api.safe-pay-online.com/wcf/Customersservice.svc/Customersservice.svc"
            binding="netTcpBinding" bindingConfiguration="netTcpBinding"
            contract="wcf_CustomersService.ICustomersService" name="netTcpBinding">
        <identity>
          <dns value="www.api.safe-pay-online.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://api.safe-pay-online.com/validationAPI/ZipCodesValidation.svc/ZipCodesValidation.svc"
            binding="netTcpBinding" bindingConfiguration="netTcpBinding"
            contract="wcf_ValidationAPI.IZipCodesValidation" name="netTcpBinding">
        <identity>
          <dns value="www.api.safe-pay-online.com" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceViewEventBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>